@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Product_Management.Models.DTO.RegisterRequestDTO;
@{
    ViewData["Title"] = "Register";
}

<div class="row d-flex align-items-center justify-content-center mb-5">
    <div class="col-md-4 card p-3">
        <h2 class="text-center">Register</h2>
        <form asp-action="Register" method="post">
            <div asp-validation-summary="ModelOnly" class="text-dan"></div>
            <div class="mb-1">
                <label asp-for="Email"></label>
                <input type="email" asp-for="Email" autofocus="username" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="Name"></label>
                <input type="text" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="Phone"></label>
                <input type="text" asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="Address"></label>
                <textarea type="text" asp-for="Address" class="form-control" rows="2"></textarea>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="Password"></label>
                <div class="input-group">
                    <input type="password" asp-for="Password" class="form-control" id="passwordInput" />
                    <span class="input-group-text" id="togglePassword">
                        <i class="bi bi-eye" id="eyeIcon"></i>
                    </span>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="ConfirmPassword"></label>
                <div class="input-group">
                    <input type="password" asp-for="ConfirmPassword" class="form-control" id="confirmPasswordInput" />
                    <span class="input-group-text" id="toggleConfirmPassword">
                        <i class="bi bi-eye" id="confirmEyeIcon"></i>
                    </span>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-8">
                    <a asp-action="Login">Have Account?</a>
                </div>
                <div class="col-4">
                    <input type="submit" value="Register" class="btn btn-sm float-end btn-primary" />
                </div>
            </div>
            <div class="my-2">
                <a asp-action="GoogleLogin" class="btn btn-danger w-100">
                    <i class="bi bi-google"></i> Continue with Google
                </a>
            </div>
        </form>
    </div>
</div>


<script>
    const passwordInput = document.getElementById('passwordInput');
    const eyeIcon = document.getElementById('eyeIcon');
    const togglePassword = document.getElementById('togglePassword');

    const confirmPasswordInput = document.getElementById('confirmPasswordInput');
    const confirmEyeIcon = document.getElementById('confirmEyeIcon');
    const toggleConfirmPassword = document.getElementById('toggleConfirmPassword');

    togglePassword.addEventListener('click', function () {
        togglePasswordVisibility(passwordInput, eyeIcon);
    });

    toggleConfirmPassword.addEventListener('click', function () {
        togglePasswordVisibility(confirmPasswordInput, confirmEyeIcon);
    });

    function togglePasswordVisibility(inputField, eyeIcon) {
        if (inputField.type === 'password') {
            inputField.type = 'text';
            eyeIcon.classList.remove('bi-eye');
            eyeIcon.classList.add('bi-eye-slash');
        } else {
            inputField.type = 'password';
            eyeIcon.classList.remove('bi-eye-slash');
            eyeIcon.classList.add('bi-eye');
        }
    }
</script>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}